<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login_page</title>
</head>
<body>
    <h2>loginIN with Google or Facebook</h2>
    <br>
    <b><a href="/auth/google">google</a></b>
    <b><a href="/auth/Facebook">facebook</a></b>

    
</body>
</html>