<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_profile:<%= data.user%></title>
</head>
<body>
    <a href="/auth/logout">logout</a>
    <h2>Hello <%= data.user%></h2>
    
</body>
</html>